<div class="row">
    <h2>Tussentijdse Facturen</h2>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="input-group">
            <input class="form-control" type="text">
            <span class="input-group-addon" style="background-color: #428bca; border-color: #357ebd">
                <i class="fa fa-search btn-primary" style="background-color: #428bca"></i>
            </span>
        </div>
    </div>
    <div class="col-md-9 text-right">
        <a class="btn btn-primary"><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;Stuur facturen door naar SAP</a>
    </div>
</div>

<div id="datatable_wrapper" class="dataTables_wrapper" role="grid">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2">
            <div id="datatable_processing" class="dataTables_processing" style="visibility: hidden;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 text-right hide">
            <div class="dataTables_filter" id="datatable_filter">
                <label>
                    <i class="fa fa-search"></i>
                    <input type="text" aria-controls="datatable">
                </label>
            </div>
        </div>
    </div>
    <table id="datatable" class="table table-hover table-striped dataTable" width="100%" aria-describedby="datatable_info" style="width: 100%;">
        <thead>
            <tr role="row">
                <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Gecreëerd op: activate to sort column ascending" style="width: 144px;">Gecreëerd op</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Firma: activate to sort column ascending" style="width: 632px;">Firma</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Ondernemingsnummer: activate to sort column ascending" style="width: 156px;">Ondernemingsnummer</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="District: activate to sort column ascending" style="width: 308px;">District</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Factuurnummer: activate to sort column ascending" style="width: 227px;">Factuurnummer</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Totaal bedrag: activate to sort column ascending" style="width: 63px;">Totaal bedrag</th>
                <th class="text-right sorting" role="columnheader" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label=": activate to sort column ascending" style="width: 84px;">
                </th>
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">
            <tr class="odd">
                <td class=" sorting_1">07/09/2016</td>
                <td class="">De Rijdt Florent &amp; Marc</td>
                <td class="">0514242233</td>
                <td class="">Antwerpen</td>
                <td class="">2017/S1/49AN</td>
                <td class="">480 €</td>
                <td class="text-right">
                    <a href="#" class="btn btn-primary btn-xs btn-detail" data-factuur-id="855">
                        <i class="fa fa-info"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-2">
            <div id="datatable_length" class="dataTables_length">
                <label>
                    &nbsp;&nbsp;Toon <select size="1" name="datatable_length" aria-controls="datatable">
                        <option value="10" selected="selected">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select> records
                </label>
            </div>
        </div>
        <div class="col-md-5 text-center">
            <div class="dataTables_info" id="datatable_info">1 t.e.m. xxx van zzz records</div>
        </div>
        <div class="col-md-5 text-right">
            <div class="dataTables_paginate paging_full_numbers" id="datatable_paginate">
                <a tabindex="0" class="first paginate_button paginate_button_disabled" id="datatable_first">
                    <i class="fa fa-fast-backward"></i>
                </a>
                <a tabindex="0" class="previous paginate_button paginate_button_disabled" id="datatable_previous">
                    <i class="fa fa-backward"></i>
                </a><span>
                    <a tabindex="0" class="paginate_active">1</a>
                    <a tabindex="0" class="paginate_button">2</a>
                    <a tabindex="0" class="paginate_button">3</a>
                    <a tabindex="0" class="paginate_button">4</a>
                </span><a tabindex="0" class="next paginate_button" id="datatable_next">
                    <i class="fa fa-forward"></i>
                </a><a tabindex="0" class="last paginate_button" id="datatable_last"><i class="fa fa-fast-forward"></i></a>
            </div>
        </div>
    </div>
</div>