<div class="row">
    <div class="col-xs-12">
        <mafo-panel selector="title" [collapsable]="false" [open]="true">
            <mafo-panel-heading>
                <h3>
                    <div class="row">
                        <div class="col-xs-10" id="title-intake">
                            <span class="fa fa-dot-circle-o"></span>&nbsp;
                            {{pageTitle}}
                        </div>
                        <div class="col-xs-2">
                            <div *ngIf="intake">
                                <a *ngIf="addAanvraag | async" id="new-intake-button" class="btn btn-primary pull-right" routerLink="/wachtlijst/intake/klant">
                                    <i class="fa fa-plus"></i>
                                    <span class="hidden-sm hidden-xs">&nbsp;&nbsp;Nieuwe intake</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </h3>
            </mafo-panel-heading>
            <mafo-panel-body>
                <div>
                    <div class="row">
                        <div class="col-md-6">
                            <search (search)="searchIntakes($event)"></search>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12">
                            <dp-datagrid [data]="data" [options]="gridOptions" (fetchData)="fetchData($event)" (rowClicked)="rowClicked($event)">
                                <ng-template #rowTemplate let-item="item" let-index="index">
                                    <td>{{item.datum | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{item.ondernemingsNr | stringformat: 'xxxx.xxx.xxx'}}</td>
                                    <td>{{item.firmanaam}}</td>
                                    <td>
                                        <code-display type="aanvraagsoort" [value]="item.soort"></code-display>
                                    </td>
                                    <td>
                                        <span class="markt-in-overview"><span class="badge">{{item.markten[0]}}</span></span>
                                        <span *ngIf="item.markten.length > 1" [attr.title]="marktenTooltip(item.markten)" class="markt-in-overview"><span class="badge">+{{item.markten.length-1}}</span></span>
                                    </td>
                                </ng-template>
                                <ng-template #rowActions let-item="item" let-index="index">
                                    <button title="Edit" *ngIf="updateAanvraag" class="btn btn-primary btn-xs btn-delete" [attr.data-id]="item.id" (click)="edit(item)">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button title="Verwijderen" *ngIf="deleteAanvraag | async" class="btn btn-danger btn-xs btn-delete" [attr.data-id]="item.id" (click)="showDeleteModal(item)">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </ng-template>
                            </dp-datagrid>
                        </div>
                    </div>
                </div>
            </mafo-panel-body>
        </mafo-panel>
    </div>
</div>