#nav {
    li.open {
        ul {
            max-height: 500px;            
            -webkit-transition: max-height 0.5s ease-in-out;
            -moz-transition: max-height 0.5s ease-in-out;
            -o-transition: max-height 0.5s ease-in-out;
            transition: max-height 0.5s ease-in-out;
        }
    }
    li {
        ul {
            display:block;
            max-height: 0;            
            overflow-y: hidden;
            -webkit-transition: max-height 0.2s linear;
            -moz-transition: max-height 0.2s linear;
            -o-transition: max-height 0.2s linear;
            transition: max-height 0.2s linear;
            
        }
    }
}

.acceptation-bar {
    background-color: deeppink
}

.dev-bar {
    background-color: lawngreen;
}
.prod-bar {
    background-color: #222222;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
.navbar-acc{
    background-color: aquamarine; 
}
.navbar-dev{
    background-color: azure;
}
@media (max-width: 768px) {
  #nav-container.open {
    left: 0;
  }
}