<h2><a href="#"><i class="fa fa-arrow-circle-o-left lighter"></i></a>&nbsp;Marktboekje &gt; x</h2>

<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>

<div class="panel panel-default" id="accordion-kavels">
    <div class="panel-heading">
        <h3 class="panel-title">Kavels</h3>
    </div>
    <div id="collapse-kavels" class="panel-collapse in" data-url="/Kavel/GetAllKavelsForMarkt?marktId=17">
        <div style="height: 40px;">
            <div class="popover-markup">
                <a class="trigger">
                    <span class="input-group-addon" style="background-color: #428bca; border-color: #357ebd;">
                        <i class="fa fa-filter btn-primary" style="background-color: #428bca"></i>
                    </span>
                </a>
            </div>
            <div class="popover-markup">
                <a class="trigger">
                    <span class="input-group-addon" style="background-color: #428bca; border-color: #357ebd;">
                        <i class="fa fa-info-circle btn-primary" style="background-color: #428bca"></i>
                    </span>
                </a>
            </div>
            <div class="popover-markup">
                <a class="visible-lg visible-md">
                    <span class="input-group-addon" style="background-color: #428bca; border-color: #357ebd;">
                        <i class="glyphicon glyphicon-save btn-primary" style="background-color: #428bca"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="panel-body">
            <div class="row form-group">
                <div class="col-md-12">
                    <a class="kavel-detail"><span class="badge bg-green large" style="margin: 2px;">01</span></a>
                    <input type="hidden">
                </div>
            </div>
        </div>
    </div>
</div>