<div class="row">
    <div class="col-xs-12">
        <mafo-panel selector="title" [collapsable]="false" [open]="true">
            <mafo-panel-heading>
                <h3 id="title-klanten">
                    <span class="fa fa-users"></span>&nbsp;
                    {{pageTitle}} 
                </h3>
            </mafo-panel-heading>
            <mafo-panel-actions>
                <a *ngIf="(addKlant | async) || (updateKlant | async)" id="new-klant-button" class="btn btn-primary pull-right" routerLink="/klant/nieuw">
                    <i class="fa fa-plus"></i>
                    <span class="hidden-sm hidden-xs">&nbsp;&nbsp;Nieuwe Klant</span>
                </a>
            </mafo-panel-actions>
            <mafo-panel-body>
                <div class="row">
                    <div class="col-md-3">
                        <search (search)="searchKlanten($event)"></search>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        <dp-datagrid [data]="data" [options]="gridOptions" (fetchData)="fetchData($event)" (rowClicked)="rowClicked($event)">
                            <ng-template #rowTemplate let-item="item" let-index="i">
                                <td>
                                    {{item.firmanaam}}
                                </td>
                                <td>
                                    {{item.ondernemingsnr}}
                                </td>
                                <td>{{item.contactPersoon}}</td>
                                <td>{{item.telefoon}}</td>
                            </ng-template>
                            <ng-template #rowActions let-item="item" let-index="index">
                                <button *ngIf="deleteKlant" title="Verwijderen" class="btn btn-danger btn-xs btn-delete" [attr.data-id]="item.id" (click)="showDeleteModal(item)">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </ng-template>
                        </dp-datagrid>
                    </div>
                </div>
            </mafo-panel-body>
        </mafo-panel>
    </div>
</div>