<div class="body-content">
    <div class="container">
        <h2>Rapportage - CSV Export</h2>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a class="btn btn-success btn-xs btn-edit"><i class="fa fa-download"></i></a></td>
                    <td>Markten - overzicht</td>
                </tr>
                <tr>
                    <td><a class="btn btn-success btn-xs btn-edit"><i class="fa fa-download"></i></a></td>
                    <td>Aanvragen - overzicht</td>
                </tr>
                <tr>
                    <td><a class="btn btn-success btn-xs btn-edit"><i class="fa fa-download"></i></a></td>
                    <td>Aanvragen - overzicht wachtlijsten (registratie)</td>
                </tr>
                <tr>
                    <td><a class="btn btn-success btn-xs btn-edit"><i class="fa fa-download"></i></a></td>
                    <td>Aanvragen - wachtlijst per markt (registratie)</td>
                </tr>
                <tr>
                    <td><a class="btn btn-success btn-xs btn-edit"><i class="fa fa-download"></i></a></td>
                    <td>Aanvragen - reservaties</td>
                </tr>
                <tr>
                    <td><a class="btn btn-success btn-xs btn-edit"><i class="fa fa-download"></i></a></td>
                    <td>Abonnementen - overzicht</td>
                </tr>
                <tr>
                    <td><a class="btn btn-success btn-xs btn-edit"><i class="fa fa-download"></i></a></td>
                    <td>Abonnementen - opgeschort</td>
                </tr>
                <tr>
                    <td><a class="btn btn-success btn-xs btn-edit"><i class="fa fa-download"></i></a></td>
                    <td>Abonnementen - geschorst</td>
                </tr>
                <tr>
                    <td><a class="btn btn-success btn-xs btn-edit"><i class="fa fa-download"></i></a></td>
                    <td>Abonnementen - overdracht</td>
                </tr>
                <tr>
                    <td><a class="btn btn-success btn-xs btn-edit"><i class="fa fa-download"></i></a></td>
                    <td>Abonnementen - intrekking</td>
                </tr>
                <tr>
                    <td><a class="btn btn-success btn-xs btn-edit"><i class="fa fa-download"></i></a></td>
                    <td>Abonnementen - opzegging</td>
                </tr>
                <tr>
                    <td><a class="btn btn-success btn-xs btn-edit"><i class="fa fa-download"></i></a></td>
                    <td>Klanten - overzicht</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>