<div class="row">
    <div class="col-md-10">
        <h2><a href="#"><i class="fa fa-arrow-circle-o-left lighter"></i></a>&nbsp;Naam klant &gt; Intake + datum</h2>
    </div>
    <div class="col-md-2">
        <br>
        <a class="btn btn-primary pull-right"><i class="fa fa-pencil"></i>&nbsp;Bewerk</a>
    </div>
</div>

<div class="panel panel-default" id="KlantPaneel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#KlantPaneel" href="#KlantAccordeon">Klant</a>
                </h3>
            </div>
        </div>
    </div>
    <div id="KlantAccordeon" class="panel-collapse collapse">
        <div class="table-responsive panel-body">
            <div class="row go-to-klant pointercursor">
                <div class="col-md-3">ondernemingsnummer</div>
                <div class="col-md-3">
                    <strong>klantnaam</strong>
                </div>
                <div class="col-md-3">
                    <strong>contactpersoon</strong>
                </div>
                <div class="col-md-2">
                    <i class="fa fa-phone-square"></i>&nbsp;&nbsp;<span class="marked-text">telefoon</span>
                </div>
                <div class="col-md-1">
                    <i class="fa fa-angle-right pull-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                <h3 class="panel-title">
                    Aanvraag
                </h3>
            </div>
            <div class="col-md-6">
                <span class="badge pull-right">Aanvraag status</span>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div>
            <div class="row">
                <div class="col-md-3"><strong>Inschrijvingsdatum</strong></div>
                <div class="col-md-3">18/10/2016</div>
                <div class="col-md-3"><strong>Type</strong></div>
                <div class="col-md-3">Nieuwe plaats</div>
            </div>
            <div class="row">
                <div class="col-md-12"><hr></div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <strong>Soort Uitstalling</strong>
                </div>
                <div class="col-md-3">Kraam</div>
                <div class="col-md-3">
                    <strong>Verkoop</strong>
                </div>
                <div class="col-md-3">Demonstreerder</div>
            </div>
            <div class="row">
                <div class="col-md-12"><hr></div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Elektriciteit</strong></div>
                <div class="col-md-3">Geen behoefte</div>
            </div>
            <div class="row">
                <div class="col-md-12"><hr></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                PRODUCT
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div>
                                <ul>
                                    <li>
                                        <strong>Beeld- en geluidsdragers en andere informatiedragers</strong>
                                        <br>

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                MARKT
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div>
                                <div class="row go-to-markt" data-id="4">
                                    <div class="col-md-3 marked-text pointercursor">AN/VR/DE</div>
                                    <div class="col-md-3 pointercursor">1 kavels</div>
                                    <div class="col-md-4 pointercursor">&nbsp;</div>
                                    <div class="col-md-1 pointercursor"><i class="fa fa-angle-right pull-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>