<div class="row">
    <h2><a href="#"><i class="fa fa-arrow-circle-o-left lighter"></i></a>&nbsp;Pre-registratie bewerken &gt; Naam klant</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Soort</label>
            <select class="form-control" readonly="True" disabled="disabled">
                <option value="">- maak uw keuze</option>
                <option value="1">Test1</option>
                <option value="2">Test2</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Uitstalling</label>
            <select class="form-control" readonly="True" disabled="disabled">
                <option value="">- maak uw keuze</option>
                <option value="1">Test1</option>
                <option value="2">Test2</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Verkoop</label>
            <select class="form-control" readonly="True" disabled="disabled">
                <option value="">- maak uw keuze</option>
                <option value="1">Test1</option>
                <option value="2">Test2</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label">Elektriciteit</label>
            <select class="form-control" readonly="True" disabled="disabled">
                <option value="">- maak uw keuze</option>
                <option value="1">Test1</option>
                <option value="2">Test2</option>
            </select>
        </div>
    </div>
</div>

<div class="panel panel-default" id="ProductPaneel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#ProductPaneel" href="#ProductAccordeon">Producten</a>
                </h3>
            </div>
        </div>
    </div>
    <div id="ProductAccordeon" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1">
                    <a href="#" class="text-danger btn-delete-product"><i class="fa fa-times-circle"></i></a>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <select class="form-control">
                            <option value="">- maak uw keuze</option>
                            <option value="1">Test1</option>
                            <option value="2">Test2</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" placeholder="Product detail (optioneel)" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp;product toevoegen</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" id="MarktPaneel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-12">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#MarktPaneel" href="#MarktAccordeon">Markten</a>
                </h3>
            </div>
        </div>
    </div>
    <div id="MarktAccordeon" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-1">
                    <a href="#" class="text-danger btn-delete-product"><i class="fa fa-times-circle"></i></a>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <select class="form-control" readonly="True" disabled="disabled">
                            <option value="">- maak uw keuze</option>
                            <option value="1">Test1</option>
                            <option value="2">Test2</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control" readonly="True" disabled="disabled">
                            <option value="">- maak uw keuze</option>
                            <option value="1">Test1</option>
                            <option value="2">Test2</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" data-direction="down">
                                <i class="fa fa-minus"></i>
                            </button>
                        </span>
                        <input type="text" readonly="True" class="form-control" aria-label="Amount (to the nearest dollar)">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary" data-direction="up">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="col-md-3 v-center">
                    kavels
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" readonly="True" placeholder="Uitleg voorkeur plaats (optioneel)" type="text">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <label>Opmerkingen</label>
        <textarea class="form-control" placeholder="Uitleg & opmerkingen over deze aanvraag (optioneel)" rows="5"></textarea>
    </div>
</div>

<div class="panel panel-default " id="accordion-documenten">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion-documenten" href="#collapse-documenten">Documenten</a>
        </h3>
    </div>
    <div id="collapse-documenten" class="panel-collapse collapse" style="height: 0px;">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h4>Bewijs Goed Zedelijk Gedrag</h4>
                    <div class="row">
                        <div class="col-md-6 new-document">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <a href="#" class="text-info btn-add-document">
                                                <i class="fa fa-plus-circle"></i>
                                            </a>
                                        </div>
                                        <div class="col-md-11">
                                            <span>
                                                <i>Bewijs Goed Zedelijk Gedrag toevoegen</i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 document-template hide text-center" data-document-type="4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div>
                                        <input type="file" style="position:absolute; left: -2000px;">
                                        <label class="btn btn-primary btn-upload" title="Document uploaden">
                                            <i class="fa fa-upload"></i>&nbsp;Selecteer &amp; laad op
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            TE BETALEN
        </h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr>
                        <td>Nieuwe aanvraag</td>
                        <td class="text-right"><span>5&nbsp;€&nbsp;/&nbsp;kavel</span></td>
                    </tr>
                    <tr>
                        <td>Aantal kavels</td>
                        <td class="text-right">1</td>
                    </tr>
                    <tr>
                        <td class="border-on-top"><div class="summary-topay">Totaal te betalen</div></td>
                        <td class="border-on-top text-right">
                            <div class="summary-topay">5&nbsp;€</div>
                            <input type="hidden" value="5">
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Betaling ontvangen</strong></td>
                        <td class="text-right">
                            <label class="switch"><input type="checkbox"><i></i></label>
                            <input type="hidden" value="False">
                            <script type="text/javascript">
                                $(function () {
                                    var checkbox = $('#Body_IsBetaald').parent().find('#Body_IsBetaaldSwitchCheckbox')[0];
                                    $(checkbox).change(function () {
                                        $('#Body_IsBetaald').val($(checkbox)[0].checked);
                                    });
                                });
                            </script>
                        </td>
                    </tr>
                    <tr style="display: none;">
                        <td><strong>Betalingsdatum</strong></td>
                        <td class="text-right">
                            <div class="small-input pull-right">
                                <div class="input-group date" data-date-format="dd/mm/yyyy">
                                    <input placeholder="Betalingsdatum" class="form-control" type="text">
                                    <span class="input-group-addon" style="background-color: #428bca; border-color: #357ebd">
                                        <i class="fa fa-calendar btn-primary" style="background-color: #428bca">
                                        </i>
                                    </span>
                                </div>
                                <script>
                                    $(function () {
                                        var $textbox = $('#Body_OfficieleInschrijvingsDatum');
                                        $textbox.parent().datepicker({
                                            format: "dd/mm/yyyy",
                                            weekStart: 1,
                                            language: 'nl',
                                            todayHighlight: true
                                        });
                                    });
                                </script>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="border-on-top"><strong>Documenten nagekeken</strong></td>
                        <td class="text-right border-on-top">
                            <label class="switch"><input type="checkbox"><i></i></label>
                            <input type="hidden" value="False">
                            <script type="text/javascript">
                                $(function () {
                                    var checkbox = $('#Body_IsDocumentenOk').parent().find('#Body_IsDocumentenOkSwitchCheckbox')[0];
                                    $(checkbox).change(function () {
                                        $('#Body_IsDocumentenOk').val($(checkbox)[0].checked);
                                    });
                                });
                            </script>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Uitgestelde toewijzing</strong></td>
                        <td class="text-right">
                            <label class="switch"><input type="checkbox"><i></i></label>
                            <input type="hidden" value="False">
                            <script type="text/javascript">
                                $(function () {
                                    var checkbox = $('#Body_IsUitgesteld').parent().find('#Body_IsUitgesteldSwitchCheckbox')[0];
                                    $(checkbox).change(function () {
                                        $('#Body_IsUitgesteld').val($(checkbox)[0].checked);
                                    });
                                });
                            </script>
                        </td>
                    </tr>
                    <tr style="display: none;">
                        <td><strong>Uitgesteld tot</strong></td>
                        <td class="text-right">
                            <div class="small-input pull-right">
                                <div class="input-group date" data-date-format="dd/mm/yyyy">
                                    <input placeholder="Uitgesteld tot" class="form-control" type="text">
                                    <span class="input-group-addon" style="background-color: #428bca; border-color: #357ebd"><i class="fa fa-calendar btn-primary" style="background-color: #428bca"></i></span>
                                </div>
                                <script>
                                    $(function () {
                                        var $textbox = $('#Body_UitgesteldDatum');
                                        $textbox.parent().datepicker({
                                            format: "dd/mm/yyyy",
                                            weekStart: 1,
                                            language: 'nl',
                                            todayHighlight: true
                                        });
                                    });
                                </script>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="border-on-top"></td>
                        <td class="text-right border-on-top"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row text-center">
    <button type="submit" class="btn btn-primary">Aanvraag bewaren</button>
    <button type="button" class="btn btn-primary">Registeren</button>
</div>